{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-store">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http="Expires" content="0">
  <title>Cambiar Contraseña</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/reset_style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body class="bg-gradient-to-r from-blue-100 via-white to-blue-100 flex items-center justify-center min-h-screen">

  <div class="bg-white p-10 rounded-3xl shadow-2xl w-full max-w-md space-y-6 animate-fade-in">
    <h2 class="text-2xl font-extrabold text-gray-800 text-center mb-6">Restablecer Contraseña</h2>

    <form method="post" class="space-y-4" onsubmit="return validatePasswords()">
      {% csrf_token %}

      <!-- Nueva Contraseña -->
      <div class="input-container">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" name="new_password1" id="id_new_password" required class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition text-gray-700" placeholder="Nueva Contraseña" autocomplete="off">
        <div class="eye-container" onclick="togglePassword('id_new_password', 'toggle-password1')">
          <i class="fas fa-eye" id="toggle-password1"></i>
        </div>
      </div>
      <div id="password-error" class="error-message-container">
        <div class="warning-text hidden">La contraseña debe tener al menos 8 caracteres.</div>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="input-container">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" name="new_password2" id="id_confirm_password" required class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition text-gray-700" placeholder="Confirmar Contraseña" autocomplete="off">
        <div class="eye-container" onclick="togglePassword('id_confirm_password', 'toggle-password2')">
          <i class="fas fa-eye" id="toggle-password2"></i>
        </div>
      </div>
      <div id="password-match-error" class="error-message-container">
        <div class="warning-text hidden">Las contraseñas no coinciden.</div>
      </div>

      <div id="alert-container"></div>

      <button id="login-button" type="submit" class="w-full bg-gradient-to-r from-blue-500 to-indigo-500 text-white py-2 rounded-full hover:from-blue-600 hover:to-indigo-600 transition duration-200 font-semibold">
        Cambiar Contraseña
      </button>
    </form>
  </div>

  <script>
    // Función para alternar la visibilidad de la contraseña
    function togglePassword(inputId, iconId) {
      const input = document.getElementById(inputId);
      const icon = document.getElementById(iconId);
      
      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    }

    // Función de validación de contraseñas
    function validatePasswords() {
      const password = document.getElementById('id_new_password').value;
      const confirmPassword = document.getElementById('id_confirm_password').value;
      const loginButton = document.getElementById('login-button');
      let isValid = true;

      // Validación de longitud mínima de la contraseña
      const passwordError = document.getElementById('password-error');
      if (password.length < 8) {
        passwordError.querySelector('.warning-text').classList.remove('hidden');
        isValid = false;
      } else {
        passwordError.querySelector('.warning-text').classList.add('hidden');
      }

      // Validación de que las contraseñas coinciden
      const passwordMatchError = document.getElementById('password-match-error');
      if (password !== confirmPassword) {
        passwordMatchError.querySelector('.warning-text').classList.remove('hidden');
        isValid = false;
      } else {
        passwordMatchError.querySelector('.warning-text').classList.add('hidden');
      }

      if (isValid) {
        // Si la validación es exitosa, mostrar el loading
        loginButton.disabled = true; // Desactiva para evitar múltiples clics
        loginButton.innerHTML = `<i class="fas fa-spinner fa-spin"></i> Cargando...`; // Cambia a spinner
      }

      return isValid; // Si la validación es falsa, el formulario no se enviará
    }
  </script>

</body>
</html>
